#cliente{
    margin-left: 1px;
}

body{
    position: relative;
    left: 59px;
}

table.list {
    width: 757px;
}

.imgDel{
    cursor: pointer;
}
#consulTipo{
    position: absolute;
    margin-left: 0px;
    margin-top: -23px;
}
.inputConsult{
    position: absolute;
    margin-top: -13px;
    right: -58px;
}
#radioNome{
    position: relative;
    right: 42px;
    top: 2px;
    z-index: 0;
    width: 10px;
}

#radioCPF{
    position: relative;
    right: -37px;
    z-index: 3;
    top: 4px;
    width: 12px;
}

#labelCPF{
    position: initial;
}

#labelNome{
    position: relative;
    right: -31px;
}